# Scrape the Data from Wikipedia

In [208]:
import pandas as pd
import numpy as np

In [230]:
# get data
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_TO = pd.read_html(url)

In [231]:
# read only Postcode information
df_TO = df_TO[0]

In [232]:
# drop Not assigned 
df_TO = df_TO[df_TO.Borough != 'Not assigned']

In [233]:
df_TO["Neighbourhood"] = np.where(df_TO["Neighbourhood"] == "Not assigned",
                                                  df_TO["Borough"],
                                                  df_TO["Neighbourhood"])

In [234]:
# Join Neighbourhoods with same Postcode
df_TO = df_TO.groupby(
    ["Postcode", "Borough"])["Neighbourhood"].apply(', '.join).reset_index()
df_TO.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [235]:
df_TO.shape

(103, 3)

# Append Locations to DataFrame

In [236]:
# import Location DataFrame
df_Loc = pd.read_csv("https://cocl.us/Geospatial_data")
df_Loc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [237]:
# Merge DataFrame by Key
df_TOL = pd.merge(df_TO, df_Loc, left_on='Postcode', right_on='Postal Code')

In [239]:
# Drop Postal Code from Location DataFrame
df_TOL.drop(["Postal Code"], axis=1, inplace=True)

In [244]:
df_TOL.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476