# Scrape the Data from Wikipedia

In [208]:
import pandas as pd
import numpy as np

In [209]:
# get data
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_TO = pd.read_html(url)

In [210]:
# read only Postcode information
df_TO = df_TO[0]

In [211]:
# drop Not assigned 
df_TO = df_TO[df_TO.Borough != 'Not assigned']

In [212]:
df_TO["Neighbourhood"] = np.where(df_TO["Neighbourhood"] == "Not assigned",
                                                  df_TO["Borough"],
                                                  df_TO["Neighbourhood"])

In [213]:
# Join Neighbourhoods with same Postcode
df_TO = df_TO.groupby(
    ["Postcode", "Borough"])["Neighbourhood"].apply(', '.join).reset_index()
df_TO.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [214]:
df_TO.shape

(103, 3)